<div class="row">
    <div class="col s12 m6 l6 push-l3 page-card">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title"> <a href=<%= @page_url %>> Your page for the day</a></span>
        </div>
      </div>
    </div>
  </div>