<div class="select-page">
   <h3> Customize your learning </h3>
   
   <p> Choose your interests </p>

    <div class="row">
    <form method="post" action="/categories">
        <% @categories.uniq.each do |cat| %>
            <p class="col l4">
            <label>
                <input type="checkbox" name="categories[]" value= <%= cat %> />
                <span> <%= cat %> </span>
            </label>
            </p>
        <% end %>

        <input type="submit" class="btn grey darken-4" value="submit"> 
    </form>
    </div>
</div>
        
