<center> <h3> Customize your learning </h3> </center>

<div class="container input-field col s12">
   <form method="post" action="/categories">
    <select multiple name="categories[]">
    <option value="" disabled selected>Choose your interests</option>
     <% @categories.uniq.each do |cat| %>
      <option value=<%= cat %>> <%= cat %> </option>
     <% end %>
    </select>

    <center> <input type="submit" class="btn grey darken-4" value="submit"> </center>
   <form>
</div>
