<h3> Customize your learning </h3>

<div class="input-field col s12">
   <form method="post" action="/categories">
    <select multiple name="categories[]">
    <option value="" disabled selected>Choose your option</option>
     <% @categories.uniq.each do |cat| %>
      <option value=<%= cat %>> <%= cat %> </option>
     <% end %>
    </select>

    <input type="submit" class="btn" value="submit">
   <form>

   <label> Select your preferred interests </label>
</div>
