select{
    display: block !important;
}

nav .brand-logo {
    padding-left: 15px !important;
}

%form-styles{
    position: relative;
    border: #000 solid;
    border-radius: 10px;
    padding-top: 2em;

    form {
        margin-top: 20px;
    }

}

.error-message {
  font-size: 17px;
  background: #F2DEDE;
  color: #B94A48;
  border: 1px solid #EED3D7;
  padding-right: 72px;
}

.signup{
    @extend %form-styles;
}

.login{
    @extend %form-styles;
}

.admin-login{
    @extend %form-styles;
}

.signup-header{
    margin-bottom: 50px;
}

.login-header{
    margin-right: 80px;
    margin-bottom: 50px;
}

.welcome-message {
    margin-top: 69px !important;
}

.page-card{
    margin-top: 50px;
}
    
.card{
    background-color: #FFFDFD !important;
    color: black !important;
}

.card-title{
    a {
        padding-left: 137px !important;
    }
}

.select-page {
    margin-left: 50px;

    p {
        font-size: 20px;
    }

    input[type="submit"] {

        margin-top: 55px;

    }
}

.admin-dashboard{
    margin-left: 75px;
}